body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#viewDiv {
  height: 100vh;
}

#buttonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

#clickButton {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#infoContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
}